[![Open in Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/justmarkham/scikit-learn-tips/master?filepath=notebooks%2F42_passthrough_or_drop.ipynb)

[![Open in Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/justmarkham/scikit-learn-tips/blob/master/notebooks/42_passthrough_or_drop.ipynb)

# ðŸ¤–âš¡ scikit-learn tip #42 ([video](https://www.youtube.com/watch?v=vHGRXuOtFnE&list=PL5-da3qGB5ID7YYAqireYEew2mWVvgmj6&index=42))

In a ColumnTransformer, you can use the strings 'passthrough' and 'drop' in place of a transformer. Useful if you need to passthrough some columns and drop others!

See example ðŸ‘‡

In [1]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer
from sklearn.compose import make_column_transformer

In [2]:
impute = SimpleImputer()

In [3]:
X = pd.DataFrame({'A':[1, 2, np.nan],
                  'B':[10, 20, 30],
                  'C':[100, 200, 300],
                  'D':[1000, 2000, 3000],
                  'E':[10000, 20000, 30000]})

In [4]:
X

     A   B    C     D      E
0  1.0  10  100  1000  10000
1  2.0  20  200  2000  20000
2  NaN  30  300  3000  30000

In [5]:
# impute A, passthrough B & C, then drop the remaining columns
ct = make_column_transformer(
    (impute, ['A']),
    ('passthrough', ['B', 'C']),
    remainder='drop')

In [6]:
ct.fit_transform(X)

array([[  1. ,  10. , 100. ],
       [  2. ,  20. , 200. ],
       [  1.5,  30. , 300. ]])

In [7]:
# impute A, drop D & E, then passthrough the remaining columns
ct = make_column_transformer(
    (impute, ['A']),
    ('drop', ['D', 'E']),
    remainder='passthrough')

In [8]:
ct.fit_transform(X)

array([[  1. ,  10. , 100. ],
       [  2. ,  20. , 200. ],
       [  1.5,  30. , 300. ]])

### Want more tips? [View all tips on GitHub](https://github.com/justmarkham/scikit-learn-tips) or [Sign up to receive 2 tips by email every week](https://scikit-learn.tips) ðŸ’Œ

Â© 2020 [Data School](https://www.dataschool.io). All rights reserved.